@import "tailwindcss";



@font-face {
  font-family: "vazir";
  src: url("/Font/Vazir.woff");
  src: url("/Font/Vazir.woff2");
  src: url("/Font/Vazir.eot");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "vazir", sans-serif;
}

select option:hover {
  background-color: #fbbf24; 
  color: #642b2b;
}